doctype html

html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="js/jquery-2.2.0.min.js")
    link(rel="stylesheet", href="css/main.css")
  
  body
    .header
      h3 Wiki Me This!
      
    .container
            
      .opentext.hide
        h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore 
      
      
      //- style as flexbox - fuck IE
      .search
        .searchcont
          input(type="text", placeholder="What do you want to know?").searchbar
          //- .btncont
          
          button.btn.random Random!
          //  a(href="https://en.wikipedia.org/wiki/Special:Random")
          //  i(class="fa fa-shuffle")
          button.btn.go Go!  
        //- handled by javascript later on          
      .results
        //box with content - opened on click
            
      
    .footer  
    script(src="js/main.js")
