doctype html

html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="js/jquery-2.2.0.min.js")
    link(rel="stylesheet", href="css/main.css")
  
  body
    .header
      h3 Wiki Me This!
      
    .container
            
      .opentext.hide
        h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore 
      
      
      //- style as flexbox - fuck IE
      .search
        .searchcont
          input(type="text", placeholder="What do you want to know?").searchbar
          //- .btncont
          button.btn.random Random!
            i(class="fa fa-shuffle")
          button.btn.go Go!  
            
            
            
            
            
        //- handled by javascript later on          
      .results
        //box with content - opened on click
        .resultbox
          .resultimg
          .resulttxt-wrap
            .resulttitle
              h4 What a Panda!
            .resulttxt
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .resultgo
            img(src="assets/arrow-go.png")
            
        .resultbox
          .resulttxt-wrap
            .resulttitle#title
              h4 Tralala
      
    .footer  
    script(src="js/main.js")
